#providerslist{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}

providercarddetails-table{
    display: table;
}

.providercarddetail {
    display: table-row;
}

.providercontact{
    /*display: flex;*/
}

.providerfilterdiv {
    width: 330px;
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: flex-end;
}
div#providerfilters {
    display: -webkit-flex;
    display: flex;
    margin: 34px;
    justify-content: center;
    flex-wrap: wrap;
}

.providerfilterdropdown {
    display: inline-block;
    width: 200px;
}

span.providerfilterlabel {
    margin: 0 20px 0 20px;
}

.providercard{
    background: #fff;
    margin: 10px;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background 1s;
    cursor: pointer;
}

.provider-key, .provider-value{
    display: table-cell;
    text-align: left;
    padding: 6px;
    max-width: 490px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.providercontact{
    display: flex;
    justify-content: flex-end;
}

i.fa{
    padding: 0px;
    margin: 0px;
    transition: color 1s;
}

i.fa.fa-phone{
    color: #002aff;
}

i.fa.fa-phone:hover{
    color: #6982fc;
}

i.fa.fa-whatsapp{
    color: green;
}

i.fa.fa-whatsapp:hover{
    color: #5ccb5c;
}

@media only screen and (min-width: 768px) {

    .providercard{
        width: 660px;
    }

    .provider-key, .provider-value{
        max-width: 490px;
    }

}

@media only screen and (max-width: 768px) {
    .providercard{
        width: 330px;
    }

    .provider-key, .provider-value{
        max-width: 180px;
    }

}

#providerslist-pagination-holder{
    margin: 40px 0 40px 0;
}

.providerslist-pagination-button{
    height: 40px;
    width: 200px;
    /* border-radius: 4px; */
    /* border: none; */
    border: 1px solid #ccc;
    background-color: #ffd54f;
    font-weight: bold;
    cursor: pointer;
}

