#providerslist{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}

providercarddetails-table{
    display: table;
}

.providercarddetail {
    display: table-row;
}

.providercontact{
    /*display: flex;*/
}

@media only screen and (min-width: 768px) {

    .providercard{
        width: 660px;
        background: #fff;
        margin: 10px;
        /*display: flex;*/
        /*flex-direction: column;*/
        /*justify-content: space-evenly;*/
        padding: 16px;
        /*align-items: flex-start;*/
    }

    .provider-key, .provider-value{
        display: table-cell;
        text-align: left;
        padding: 6px;
        max-width: 490px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

}

@media only screen and (max-width: 768px) {
    .providercard{
        width: 330px;
        background: #fff;
        margin: 10px;
        /*display: flex;*/
        /*flex-direction: column;*/
        /*justify-content: space-evenly;*/
        padding: 16px;
        /*align-items: flex-start;*/
    }

    .provider-key, .provider-value{
        display: table-cell;
        text-align: left;
        padding: 6px;
        max-width: 180px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

}

