providercarddetails-table{
    display: table;
}

.providercarddetail {
    display: table-row;
}

.providercard{
    background: #fff;
    margin: 10px;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background 0.3s;
    cursor: pointer;
    width: 87%;
    max-height: 440px;
}

.providercarddetail>.provider-key, .providercarddetail>.provider-value{
    display: table-cell;
    text-align: left;
    padding: 6px;
    max-width: 230px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.providercontact{
    display: flex;
    justify-content: flex-end;
}

.providercard:hover{
    -webkit-box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

@media only screen and (min-width: 768px) {
    .providercard{
        width: 440px;
    }

    .providercarddetail>.provider-key, .providercarddetail>.provider-value{
        max-width: 295px;
    }
}

i.fa{
    padding: 0px;
    margin: 0px;
    transition: color 0.3s;
}

i.fa.fa-phone{
    color: #002aff;
}

i.fa.fa-phone:hover{
    color: #6982fc;
}

i.fa.fa-whatsapp{
    color: green;
}

i.fa.fa-whatsapp:hover{
    color: #5ccb5c;
}